{%load static%}
<div class="col-8 card text-center my-4">
    <div class="card-header">
        <h2 class="card-title text-primary"><a href="{% url 'pagina-detalle' movie.id  %}">{{movie.titulo}}</a></h2>
    </div>
    <div class="card-body">
        {# <h2 class="card-title text-primary">1. Vertigo</h2>     #}
        <img class="card-image img-thumbnail" src="{% static '' %}{{ movie.imagen }}" alt="{{ mis_peliculas.titulo }}">
        <p class="card-text mt-4">{{movie.sinopsis}}</p>
    </div>
    <div class="card-footer text-muted">
        {{movie.director}}, {{movie.anio}}
    </div>
</div>
