{%load static%}
<div class="col-8 card text-center my-4">
    <div class="card-header">
        <h2 class="card-title text-primary">1. Vertigo</h2>
    </div>
    <div class="card-body">
        {# <h2 class="card-title text-primary">1. Vertigo</h2>     #}
        <img src="{%static 'mejores_peliculas/images/vertigo.jpg'%}" class="card-image img-thumbnail" alt="">
        <p class="card-text mt-4">A former detective with a fear of heights is hired to follow a woman apparently possessed by the past in Alfred Hitchcock’s timeless thriller about obsession.</p>
    </div>
    <div class="card-footer text-muted">
        Alfred Hitchcock, USA 1958
    </div>
</div>
