{% extends "base.html" %}
{%load static%}
{% load bootstrap %}


{% block titulo %}{% endblock  %}
{% block estilos %} {% endblock  %}

{% block contenido %}
    <div class="row mx-5">
        <h1>{{movie.titulo}} </h1>
        <h3><span class="badge bg-secondary">{{movie.director}}, {{movie.anio}}</span></h3>
    </div>

    <div class="row mx-5">
        <div class="col-4">
        <img class="img-thumbnail" src="{% static '' %}{{ movie.imagen }}" alt="{{ mis_peliculas.titulo }}">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Duración: {{movie.duracion}}</li>
            <li class="list-group-item">Año: {{movie.anio}}</li>
            <li class="list-group-item">Director: {{movie.director}}</li>
            <li class="list-group-item">Genero: {{movie.genero}}</li>
            <li class="list-group-item">Votos: {{movie.votos}}</li>
        </ul>
        </div>

        <div class="col-8">
        <figure class="text-end mb-5">
            <blockquote class="blockquote">
                <p><em>"{{movie.quote}}"</em></p>
            </blockquote>
        </figure>
        <p class="text-detail">
            {# <strong>Genero: </strong> {{movie.genero}} <br> #}
            <strong>Sinopis: </strong> {{movie.sinopsis}} <br>
        </p>
        
        </div>
    </div>
    <hr>
    <div class="row mx-5 py-3">
        <div class="col-12">
            <h2>Comentarios</h2>

            <div class="card my-3">
                <div class="card-body ">
                    <h5 class="card-title"></h5>
                    <form action="">
                        No hay comentarios.
                    </form>
                </div>
            </div>            

            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Agregar comentario</h5>
                    <hr>
                    <form action="">
                        {{ form_comentario|bootstrap }}
                        <button class="btn btn-primary my-2 py-2">Guardar</button>
                    </form>

                </div>
            </div>
        
        </div>
    </div>
{% endblock  %}